aclocal.m4
devices.m4
devlist.m4
files.m4
multilib.m4
tmp-core-info
tmp-device-info
avr/
Makefile
Makefile.in
config.h.in
config.h
config.log
autom4te.cache
config.status
config.guess
config.sub
install-sh
missing
configure
compile
depcomp

devtools/gen-avr-lib-tree.sh
! devtools/aclocal.m4
! devtools/configure
