/aclocal.m4
m4-gen/
/tmp-core-info
/tmp-device-info
/configure
/avr/
/avr-libc.spec
/include/avr/builtins.h
/include/util/delay.h

Makefile
Makefile.in
config.h.in
config.h
config.log
autom4te.cache
config.status
config.guess
config.sub
install-sh
missing
compile
depcomp
stamp-h1
loc.txt
sig.txt

!doc/examples/*/Makefile
!tests/compile/

devtools/gen-avr-lib-tree.sh
devtools/update-news
devtools/filter-mcus.py

*.bin
*.elf
*.hex
*.map
*.srec
*.eps
*.pdf
doc/api/malloc-x1.png
doc/api/malloc-std.png
doc/api/malloc-x2.png

__pycache__
