/* $Id$ */
BODY {
    background-color: #feffe2
}

div.line {
    /* The original doxgen.css has a line-height of 1.0 at this place.
       Use more space so that underscores at the bottom line are not hidden
       behind the frame around \code blocks.  This artifact depends on the
       rendering engine and was observed with FireFox v124.  */
    line-height: 1.2 !important;
}
