body {
    font-family: sans-serif;
    font-size: 100%;
    background-color: #fefff0;
    color: #000;
    padding: 0;
}

h1 { font-size: 50px; text-shadow: .05em .05em #ccc; text-align: center; }

a {
    color: #c04080;
    text-decoration: underline;
}

a:visited {
    color: #804080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff4080;
}

/* Fit logo and description side by side for standard desktop
   browser sizes. */
.row { display: flex; margin:  0.5rem -0.6rem; align-items: stretch; }
.row [class*="col"] { width: 50%; padding: 0  0.6rem; }
.row [class*="logo"] { padding: 0  0.6rem; }
.toplogo { display: none; }
.row .col .logo   { flex: 1 1 100%; }

/* For narrow screens (mobile devices), put logo on top instead. */
@media screen and (max-width : 1000px){
    .row [class*="logo"] { display: none; }
    .toplogo { display: block; }
    .row [class*="col"] { width: 100%; padding: 0  0.6rem; }
}
